body {
  font-family: "돋움", Dotum, Helvetica, "Apple SD Gothic Neo", Sans-serif;
  font-size: 12px;
}
div {
  display: block;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
body,
h1,
ul,
ol,
li,
p {
  margin: 0;
  padding: 0;
}
a,
a:link {
  text-decoration: none;
  background-color: transparent;
}
ul,
ol {
  list-style: none;
}
#header {
  height: 55px;
  position: relative;
  z-index: 30;
  background-color: #00c73c;
  position: relative;
  min-width: 800px;
}
#header h1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 156px;
  height: 34px;
  padding: 16px 0 0 19px;
  z-index: 30;
  overflow: hidden;
}
#header h1 a {
  display: block;
  float: left;
}
#header h1 .naver {
  background-position: 0 -113px;
  width: 58px;
  height: 23px;
  margin-right: 2px;
}
#header.h_mail .pwe_home {
  background-position: -268px -86px;
  width: 41px;
  height: 23px;
}
#header h1 .naver,
#header h1 .pwe_home {
  background-image: url(https://ssl.pstatic.net/static/pwe/common/sp_pnb_d4f0e846.png);
  background-size: 312px 256px;
}
.login_group {
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  z-index: 20;
  white-space: nowrap;
}
.gnb_my_li {
  float: left;
  margin-right: 2px;
  overflow: visible;
}
.gnb_my_namebox {
  padding: 2px 9px 0 0;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  zoom: 1;
}
a.gnb_my,
.gnb_icon {
  position: relative;
}
.gnb_icon {
  background: url(https://ssl.pstatic.net/static/common/gnb/one/sp_gnb_v14.png)
    no-repeat -999px -999px;
  background: url(https://ssl.pstatic.net/static/common/gnb/one/sp_gnb_v15.png?v=2006)
    no-repeat -999px -999px;
  /* background: url(../img/sp_gnb_v15.png) no-repeat -999px -999px; */
}
a.gnb_my img {
  vertical-align: top;
  border-radius: 16px;
}
a.gnb_my .filter_mask {
  position: absolute;
}
a.gnb_my .gnb_name {
  margin-right: -1px;
  padding-left: 5px;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  vertical-align: top;
  font-size: 11px;
  color: #444;
}
.gnb_notice_li a.gnb_notice {
  display: block;
  width: 15px;
  height: 17px;
  padding: 7px 9px 4px;
  text-decoration: none !important;
}
.gnb_service_li a.gnb_service .gnb_icon {
  display: block;
  width: 16px;
  height: 16px;
  background-position: -2px -130px;
}
.gnb_service_li a.gnb_service {
  display: block;
  width: 16px;
  height: 16px;
  padding: 7px 9px 5px;
}
.gnb_area .gnb_list_box {
  position: relative;
  text-align: center;
  white-space: nowrap;
  font-size: 0;
  zoom: 1;
}
.gnb_area .gnb_list_box .gnb_first {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  zoom: 1;
  text-align: left;
}
.gnb_area .gnb_list_box ul li {
  float: left;
  width: 49px;
  padding: 12px 0;
  zoom: 1;
  text-align: center;
}
.h_mail_lite .gnb_list_box .mail a,
.h_mail .gnb_list_box .mail a {
  background-position: -198px -140px;
}
.gnb_list_box .mail a {
  background-position: -66px -140px;
  z-index: 50;
}
.gnb_list_box .calendar a {
  background-position: -33px -206px;
  z-index: 45;
}
.gnb_list_box .memo a {
  background-position: 0 -173px;
  z-index: 40;
}
.gnb_list_box .contact a {
  background-position: -33px -140px;
  z-index: 35;
}
.gnb_list_box .ndrive a {
  background-position: -66px -206px;
  width: 26px;
  height: 29px;
  z-index: 30;
}
.gnb_list_box .office a {
  background-position: -198px -173px;
  z-index: 25;
}
.gnb_list_box .moneybook a {
  background-position: -66px -173px;
  z-index: 20;
}
.gnb_list_box li a {
  background-position: -66px -140px;
  width: 29px;
  height: 29px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  zoom: 1;
}
.gnb_area .gnb_list_box .gnb_last {
  display: inline-block;
  position: relative;
  top: 20px;
}
.gnb_area .gnb_list_box .gnb_last .btn_more {
  background-position: 0 -239px;
  width: 17px;
  height: 17px;
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
}
#gnb.gnb_one .gnb_login_li {
  padding: 16px 21px 10px 1px;
}
#gnb.gnb_one .gnb_my_li {
  padding: 12px 20px 12px 2px;
}
#gnb.gnb_one .gnb_my_li,
#gnb.gnb_one .gnb_notice_li {
  margin-right: 0;
  margin-left: 0;
  background: url(https://ssl.pstatic.net/static/common/gnb/bg_one_line.png)
    repeat-y right 0;
}
#gnb.gnb_one .gnb_my_li .gnb_my .gnb_name {
  color: #fff;
}
#gnb.gnb_one .gnb_notice_li a.gnb_notice {
  padding: 18px 19px 17px 19px;
}

#gnb.gnb_one .gnb_notice_li a.gnb_notice .gnb_icon,
#gnb.gnb_one_small .gnb_notice_li a.gnb_notice .gnb_icon {
  width: 17px;
  height: 19px;
  background-position: -284px -119px;
}
.gnb_notice_li a.gnb_notice .gnb_icon {
  display: block;
  width: 15px;
  height: 17px;
  background-position: -3px -60px;
}
#gnb.gnb_one .gnb_service_li .gnb_service {
  padding: 19px 19px 18px 19px;
}

#gnb.gnb_one .gnb_service_li .gnb_service .gnb_icon {
  width: 17px;
  height: 17px;
  background-position: -324px -120px;
}
.gnb_list_box li a,
.gnb_list_box .ndrive a,
.gnb_area .gnb_list_box .gnb_last .btn_more {
  background-image: url(https://ssl.pstatic.net/static/pwe/common/sp_pnb_d4f0e846.png);
  background-size: 312px 256px;
}

#container {
  margin-left: 251px;
}
div.mail {
  background-color: yellow;
  height: 100%;
}
.blind {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 0;
  background: 0 0;
  font-size: 0;
  line-height: 0;
}
.right_up {
  /* height: 144px; */
  width: 1268px;
  overflow: hidden;
}
.unselectable {
  position: absolute;
  top: 200px;
  bottom: 0;
  left: 251px;
  right: 0;
  min-height: 1px;
  overflow: auto;
  width: auto;
  z-index: 20;
  -moz-user-focus: ignore;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.unselectable .listWrap {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: absolute;
  top: 0;
  bottom: 39px;
  left: 0;
  right: 0;
  overflow: auto;
  overflow-y: scroll;
  padding-left: 14px;
  height: 492px;
}
.mailList {
  min-width: 600px !important;
  width: 100%;
  position: relative;
  zoom: 1;
  z-index: 10;
}
.mailList li {
  border-bottom: 1px solid #f1f1f1;
  background: #fff;
  min-height: 21px;
  padding: 5px 200px 5px 124px;
  line-height: 18px;
  position: relative;
  zoom: 1;
  vertical-align: top;
  width: auto;
}
ol.mailList li {
  border-color: #f4f4f4;
  padding: 9px 230px 5px 117px;
}
.mailList .mInfo {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  _padding-right: 315px;
  _zoom: 1;
}
.mailList ul.mInfo li.read {
  width: 23px;
  padding-right: 6px;
  padding-top: 10px !important;
  height: auto;
}
/* 체크박스 */
.mailList ul.mInfo li {
  position: relative;
  float: left;
  color: #666;
  zoom: 1;
  padding: 10px 5px 10px 0;
  padding-top: 11px !important;
  height: 100%;
  background: url(https://ssl.pstatic.net/static/pwe/nm/b.gif);
}
/* 계정있는유저 여부 */
.icoImportantOff {
  background-image: url(https://ssl.pstatic.net/static/pwe/nm/sp_works_0cfb8a0b.png);
  background-size: 535px 518px;
  background-position: -503px -324px;
  background-repeat: no-repeat;
  width: 16px;
  height: 15px;
  display: inline-block;
}
/* 읽음여부 */
.no {
  background-image: url(https://ssl.pstatic.net/static/pwe/nm/sp_works_0cfb8a0b.png);
  background-size: 535px 518px;
  background-position: -441px -465px;
  background-repeat: no-repeat;
  width: 22px;
  height: 20px;
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
}
.mailList div.mTitle,
.sender_context div.mTitle {
  padding-left: 141px;
}
.mailList .mTitle {
  position: relative;
  width: auto;
  overflow: hidden;
  line-height: 1.5;
  padding: 0 0 0 121px;
  zoom: 1;
  cursor: pointer;
}
.mailList .mTitle .name {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  zoom: 1;
  _top: -2px;
}
.mailList .mTitle .title {
  padding: 0;
  zoom: 1;
  word-break: break-all;
  color: #999;
}
.mailList .mTitle .subject a {
  overflow: hidden;
}
.mailList .mTitle .icon_previewMail .preview {
  background-image: url(https://ssl.pstatic.net/static/pwe/nm/sp_works_0cfb8a0b.png);
  background-size: 535px 518px;
  background-position: -480px -358px;
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  display: inline-block;
}
.mailList .mTitle .newWindow span {
  position: relative;
  background-image: url(https://ssl.pstatic.net/static/pwe/nm/sp_works_0cfb8a0b.png);
  background-size: 535px 518px;
  background-position: -480px -336px;
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  display: inline-block;
}
.mailList .mTitle .newWindow,
.mailList .mTitle a.icon_previewMail {
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
}
ol.mailList .mInfo.split_cell {
  left: auto;
  right: 0;
  width: auto;
}
.mailList .mInfo {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding-right: 315px;
  zoom: 1;
}
.hidesize ol.mailList .split_cell li.date {
  right: 55px;
}
ol.mailList ul.mInfo.split_cell li {
  padding-top: 8px !important;
}
ol.mailList .mInfo.split_cell li {
  padding-right: 0 !important;
}
ol.mailList ul.mInfo .date {
  right: 120px;
}
ol.mailList ul.mInfo .date,
ol.mailList ul.mInfo .views {
  font-family: tahoma, sans-serif;
  color: #999;
}
.mailList .mInfo .date {
  right: 90px;
  width: 100px;
  white-space: nowrap;
  padding-right: 0;
  text-align: right;
}
.mailList .mInfo .date,
.mailList .mInfo .views {
  position: absolute;
  top: 0;
}
ol.mailList ul.mInfo .views {
  right: 18px;
}
.mailList .mInfo .views {
  right: 0;
  width: 60px;
  padding-right: 0;
  white-space: nowrap;
  text-align: right;
}
/* detail css */
.entire {
  min-width: 700px;
  width: auto;
}
.view_title {
  border-bottom-color: #e9e9e9;
  margin-left: 14px;
  position: relative;
  border-bottom: 1px solid #e8e8e8;
  color: #000;
  width: auto;
  /* _height: 1%; */
  /* height: 487px; */
  height: 76.4px;
  overflow: hidden;
  zoom: 1;
}
.view_title #title_name {
  margin-left: 20px;
}
.date_cover {
  position: absolute;
  right: 20px;
  top: 0;
  height: 44px;
  line-height: 18px;
  white-space: nowrap;
  font-size: 0;
}
div.view_title .date_cover .date_detail {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  position: absolute;
  right: 20px;
  top: 0;
  height: 44px;
  line-height: 18px;
  white-space: nowrap;
  font-size: 0;
}
div.view_title .date_cover .send_date {
  position: static;
  font-size: 12px;
  color: #666;
  top: 15px;
  right: 20px;
  z-index: 1;
  margin-top: 10px;
}
div.view_title .date_cover .basis {
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
div.view_title dl dt {
  padding-left: 25px;
  font-weight: 700;
  min-width: 59px;
  color: #222;
}
.view_title dl dt {
  padding: 0 0 2px 16px;
  line-height: 18px;
  min-width: 51px;
  _width: 57px;
  float: left;
  clear: both;
  position: relative;
  zoom: 1;
}
div.view_title dl dt .viewMoreOff {
  background-image: url(https://ssl.pstatic.net/static/pwe/nm/sp_works_0cfb8a0b.png);
  background-size: 535px 518px;
  background-position: -503px -44px;
  background-repeat: no-repeat;
  background-color: #fff;
  width: 17px;
  height: 17px;
  display: inline-block;
  border-radius: 0;
  padding: 0;
  border: 0;
  margin: 0;
  position: absolute;
  left: 0;
}
/* write할때 view_title의 style이 적용되면 이미지가 안나옴 */
.crawl_contents {
  max-width: 100%;
  /* width: 100%; */
  height: 410.6px;
  /* height: 100px; */
  /* max-height: 100%; */
  /* width: 100%; */
  vertical-align: top;
  word-break: break-all;
  line-height: 1.5;
  overflow: scroll;
}
.crawl_contents img {
  width: auto;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-style: normal;
}
